# Dependencies
node_modules
.pnpm-store

# Next.js & Frameworks
.next
out
build
dist
packages/*/dist
packages/*/out

# Vercel
.vercel

# TurboRepo
.turbo

# Environment Variables (Strict Security)
.env
.env*.local
.env.production
.env.development
.env.test
! .env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
test-results/
playwright-report/
blob-report/
junit.xml

# Storybook
storybook-static
*storybook.log

# System Files
.DS_Store
Thumbs.db

# IDEs (Optional but recommended)
.idea
.vscode
*.swp
*.swo

# Security
*.pem
*.key
lint_output.txt
